.v-nxt-jumbo {
	overflow: hidden;

	& .position-absolute {
		height: 100%;
		width: 100%;
		overflow: hidden;

		& img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	& .row {
		background-color: var(--primary-clr);
		padding: 1.5rem 0 1rem;
		row-gap: 1.5rem;
		border-radius: 1rem;
		position: relative;
	}

	& .v-text-content {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		color: var(--white);
		& .v-title {
			font-size: 1.05rem;
		}
		& .v-subtext {
			font-size: 0.8rem;
		}
	}
}
.v-ios-icons {
	background-image: linear-gradient(to right, #c6f2c6, var(--primary-clr));
	background-color: rgba(255 255 255 0.8);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	overflow-y: visible;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.8rem 1rem;
	border-radius: 7px;
	gap: 1rem;
	@media all and (min-width: 640px) {
		& {
			border-radius: 1rem;
		}
	}
}

.v-each-ios-icon {
	border-radius: 10px;
	max-width: 2.5rem;
	width: 100%;
	padding: 0;
	position: relative;

	& img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:nth-child(3) {
		translate: 0 -16px;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		scale: 1.05;
		&::before {
			--size: 6px;
			content: "";
			position: absolute;
			width: var(--size);
			height: var(--size);
			background-color: var(--primary-clr-dark);
			translate: -50% -50%;
			border-radius: 50%;
			bottom: -1rem;
			left: 50%;
		}
	}
}
/* footer @::start */

.v-pre-footer {
	margin: 0.8rem;

	& .v-board {
		background-color: var(--primary-clr-dark);
		padding: 1rem;
		border-radius: 5px;
	}

	& .v-board-title {
		font-weight: 800;
		color: var(--white);

		@media all and (min-width: 768px) {
			& {
				font-size: 2.55rem;
			}
		}
	}
	& .v-cat {
		background-color: var(--primary-clr);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
		color: var(--white);
		padding: 0.9rem 2rem;
		border-radius: 4px;
		font-size: 0.8 rem;
		font-weight: 500;
		letter-spacing: 0.2px;
	}
}
footer {
	padding-block: 4rem 0;
	& .footer-inner {
		padding-block-end: 3rem;

		& .row {
			row-gap: 2.5rem;
		}
	}
	.col-inner {
		@media all and (min-width: 768px) {
			& {
				padding-inline: 1rem;
			}
		}

		& ul {
			margin-top: 1.4rem;
			display: flex;

			&:not(:has(svg)) {
				flex-direction: column;
				row-gap: 1.5rem;
			}
			&:has(svg) {
				flex-direction: row;
				column-gap: 10px;
			}
		}
		.v-each-col-title {
			color: var(--primary-clr);
			letter-spacing: 0.3px;
			font-weight: 600;
		}
		& a {
			color: var(--footer-link-clr);
			font-weight: 400;
			white-space: nowrap;
			font-size: 0.94rem;

			&:has(svg) {
				color: var(--white);
				background-color: var(--primary-clr);
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				aspect-ratio: 1/1;
				padding: 8px;
				transition: background-color 300ms ease-in-out;
				box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;

				&:hover {
					background-color: var(--primary-clr-dark);
				}

				& svg {
					--size: 1.4rem;
					height: var(--size);
					width: var(--size);
				}
			}
		}
	}
}
/* footer @::end */
.v-post-footer-divider {
	padding-block: 0.7rem;
	width: 100%;
	background-color: #e5e5e5;
}
.v-post-footer {
	padding-block: 0.8rem;
	background-color: #f6f6f6;

	& .v-links a {
		font-size: 0.86rem;
		font-weight: 500;
		color: var(--black-opacity-1);
	}
}
